* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    
        background-image: url('/static/css/techtrove.jpg');
        background-repeat: no-repeat;
        background-size: 1600px 900px;
        min-height: 70vh;
        margin: 0;
        padding:0;

    
}
form{
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.5); 
    width: 350px;
    height: 580px;
    padding: 75px 50px;
    position: absolute;
    left: 50%;
    top: 50%;    
    transform: translate(-50%, -50%)
}
h1 {
    text-align: center;
    margin-bottom: 45px;
    color: whitesmoke;
    font-size: 40px;
}
.textBoxdiv{
    border-bottom: 2px solid whitesmoke;
    position: relative;
    margin: 35px 0;
} 
.textBoxdiv input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: whitesmoke;
    height: 30px;
    font-size: 20px;
}
.loginbtn{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: linear-gradient( to right top, #131313, #292929, #686868, #424242 );
    background-size: 200% ;
    color: white;
    font-size: 15px;
}
.loginbtn:hover{
    background-position: right;
    font-size: 17px;
}
.signup {
    color: whitesmoke;
    margin-top: 45px;
    text-align: center;
}
signup a{
    color: black;
}
